.ant-modal-root {   
  .ant-modal-mask {
    background-color: transparent;
  }

  .ant-modal-content {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    .ant-modal-body {
      max-height: 100%;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }
}

.ant-modal {
    top: 60px;
}
