.content {
  flex: 1 1 100%;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;

  .content-header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 14px 18px;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .breadcrumb {
        font-size: 24px;
      }

      .layout-details {
        display: flex;
        gap: 10px;
      }
    }

    .filter {
      display: flex;
      gap: 10px;
    }
  }

  .content-body {
    padding: 0px 18px 10px;
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;

    .section {
      font-size: 14px;
      margin: 16px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .recommended-list {
        overflow: hidden;
        min-height: 220px;
        max-height: 220px;
      }
    }
  }
}
