.detail {
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 20px;
  animation: slideInRight .1s ease-in-out;

  .detail-header {
    padding: 14px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 18px;

      span {
        margin-left: 10px;
      }
    }
  }

  .detail-menu {
    .ant-menu-horizontal {
      display: flex;

      li {
        width: 50%;
        text-align: center;
        font-weight: 600;

        &::after {
          inset-inline: 54px;
        }

        &:focus {
          background-color: rgb(228, 238, 252);
        }
      }
    }
  }

  .detail-content {
    padding: 18px;
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
  }
}
