.grid-view {
  position: relative;

  .folder {
    min-height: 180px;
    max-height: 300px;
  }

  .sort {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    right: 0;
    top: -4px;
  }
}
