.title {
  display: flex;
  align-items: center;

  .file-name {
    font-size: 16px;
    margin-left: 16px;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ant-table-wrapper {
  .ant-table-thead {
    > tr > th,
    th.ant-table-column-sort {
      background-color: #fff;
    }

    tr {
      position: sticky;
      top: 0;
      z-index: 100;
      background-color: #fff;
      cursor: default;
    }
  }

  td.ant-table-column-sort {
    background: #fff;
  }
  .ant-table-column-sorters {
    justify-content: flex-start;
    gap: 10px;

    .ant-table-column-title {
      flex: 0 0 auto;
      display: inline-block;
    }
  }

  .ant-table-tbody {
    .ant-table-row {
      cursor: pointer;
    }
  }
}
